.Product-header{
margin-top:25px;
margin-bottom: 10px;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 23px;
}

.productTile{
    word-wrap:nowrap;
    border-radius: 15px;
    background:#232323;
    padding:15px !important;
    height: 100% !important;
    margin-bottom: 20px;
    
}
.img-fluid{
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 100px!important;
}
.grey-text{
    
    word-wrap: break-word;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 16px;

color: rgba(255, 255, 255, 0.6);
margin-bottom: 5px;
}
.productHeader{
    margin-bottom: 10px;
}

.rec-item-wrapper{
    height: 100%;

}
.rec-carousel{
    background: black;
    justify-content: stretch;
    padding: 10px;
    border-radius: 15px;

}
.card{
   word-wrap: nowrap;
}
#nonbreak{
    white-space: nowrap;
}